{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">My Trello tracker</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        
        <table>
          
          
          <tr>
            <td><h2>To do</h2></td>>
          </tr>
          <th>Task name</th><th>Task Description</th><th>Status</th>
          {%for item in viewmodel.todo_items%}
          
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td>{{item.status}}</td>
            <td><a href="/update?id={{ item.id }}"> Update </a></td>
            <td><a href="/delete?id={{ item.id }}"> Delete </a></td>
          </tr>
          {%endfor%}

          <tr>
            <td><h2>Doing</h2></td>
          </tr>
          <th>Task name</th><th>Task Description</th><th>Status</th>
          {%for item in viewmodel.doing_items%}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td>{{item.status}}</td>
            <td><a href="/update?id={{ item.id }}"> Update </a></td>
            <td><a href="/delete?id={{ item.id }}"> Delete </a></td>
          </tr>
          {%endfor%}

          <tr>
            <td><h2>Done</h2></td>
          </tr>
          <th>Task name</th><th>Task Description</th><th>Status</th>
          {%for item in viewmodel.done_items%}
          <tr>
            <td>{{item.name}}</td>
            <td>{{item.desc}}</td>
            <td>{{item.status}}</td>
            <td><a href="/update?id={{ item.id }}"> Update </a></td>
            <td><a href="/delete?id={{ item.id }}"> Delete </a></td>
          </tr>
          {%endfor%}
          
        </table>
        <br/> <br/>
        <a href = "/add"> Add a task</a>
        <br/> <br/>
        <a href = "/migrate"> Migrate Tasks from Trello</a>
      </ul>
    </div>
  </div>
  
{% endblock %}