{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">My Trello Tracker</p>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form name="Migrate Todo" method = "POST">
        <label for="taskname">API KEY </label><br>
        <input type="text" id="apikey" name="apikey"><br>
        <label for="taskdesc">API Token </label><br>
        <input type="text" id="apitoken" name="apitoken"><br>
        <label for="taskdesc">Board ID </label><br>
        <input type="text" id="board" name="board"><br>
        <input type="submit" value = "Migrate">
      </form>

    </div>
  </div>

{% endblock %}